@{
    ViewData["Title"] = "Squareroot Comparer Page";
}

<div class="text-center">
    <h1 class="display-4">Squareroot Comparer</h1>
</div>

<div>
    <form asp-controller="Sqrt" asp-action="Compare" method="POST">

        <input type="number" placeholder="First Number" name="firstNumber"/>
        <input type="number" placeholder="Second Number" name="secondNumber"/>
        <button type="submit">Submit</button>

        if (firstNumbersqrt > secondNumbersqrt)
        {
           <div>
                <p>  The number @firstNumberm with square root of @ViewBag.Result1 has a higher square root than the number @secondNumberm with square root @ViewBag.Result2 </p>
            </div>
        }
        if (firstNumbersqrt < secondNumbersqrt)
        {
           <div>
                <p>  The number @secondNumberm with square root of @ViewBag.Result2 has a higher square root than the number @firstNumberm with square root @ViewBag.Result1 </p>
            </div>
        }
        if(firstNumbersqrt == secondNumbersqrt)
        {
            <div>
                <p>  The numbers provided have the same square roots. Enter a set of different numbers </p>
                 </div>
        }
        else ()
        {
            break;
        }

    </form>

</div>
